---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Body from '../components/Body.astro';
import Hero from '../components/Hero.astro';
import Container from '../components/Container.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from '@astrojs/image/components';
import { AiFillEdit } from 'react-icons/ai/index.js';

const posts = (await getCollection('blog')).sort(
    (a: any, b: any) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header title={SITE_TITLE} />
        <Hero/>
		<main class="pt-[56px]">
           <Container>
                <section class="indent-4 text-justify mt-2">
                    <p>
                    Hi There! This is <span class="text-red-400 font-black font-mplus">{"<Heaven/>"}</span>, a current Master's student at Waseda University. I&apos;m a network geek, Linux enthusiast and a dedicated vim user. Here I share the things I learn, the projects I built and the tools I use. By the way, the web design of this page is greatly inspired by
                    <a 
                        class="inline-flex items-center gap-1 indent-1 underline underline-offset-2 hover:text-orange-500 decoration-orange-500"
                        href="https://uses.craftz.dog/"
                    >Takuya Matsuyama&apos;s What I Use</a>. 
                    </p>
                </section>
            </Container>
            <Container>
                <h2 class="uppercase font-bold text-2xl mt-16 font-mplus inline-flex items-center gap-3"><AiFillEdit className="text-orange-500"/>Posts</h2>
                <section class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-8 text-center">
                {
                    posts.map(
                        (post: any) => post.data.heroImage ? (
                        <div >
                            <a href={`/blog/${post.slug}`}>
                                <Image
                                    src={post.data.heroImage}
                                    width={720 * 2}
                                    height={480 * 2}
                                    format="png"
                                    class="rounded-xl"
                                    alt={post.data.title}
                                />
                            </a>
                            <h2 class="mt-3 font-semibold text-xl"><a href={`/blog/${post.slug}`}>{post.data.title}</a></h2>
                            <FormattedDate date={post.data.createdAt}/>
                        </div>
                    ) : <></>)
                }
                </section>
            </Container>
		</main>
		<Footer />
	</Body>
</html>
